@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-brands/css/uicons-brands.css");

html.sr .show-element,
html.sr .slide-left-list li,
html.sr .slide-left,
html.sr .slide-top,
html.sr .slide-top-elms {
  visibility: hidden;
}

$color-prg: #535353;
$color-title: #333333;
$color-js: #ffbd59;
$bg-btn: #0f5685;
$bg-secundary: #ebe7dc;

*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: "Poppins", sans-serif;
  color: $color-prg;
  scroll-behavior: smooth;
}

a,
label,
p,
li,
i {
  letter-spacing: -0.5px;
}

a,
i {
  text-decoration: none;
  transition: color 300ms, outline-color 300ms;
}

body {
  background-color: #f4f4f4;
  font-size: 0.9em;
}

h2,
h3,
h4,
h5 {
  color: #3b3b3b;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
  letter-spacing: -1px;
}

.logo,
h3.mark {
  font-family: "JetBrains Mono", serif !important;
}

.logo {
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
  color: #333333;
  & span {
    font-family: inherit;
    color: $color-js;
  }
}

ul {
  list-style-type: none;
}

.btn-primary {
  border: 0;
  outline: 0;
  padding: 0.3rem 1.3rem;
  font-size: .9em;
  background-color: $bg-btn;
  color: #f4f4f4;
  border-radius: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
}

// sass --watch src\sass\main.scss dist\css\main.css
