@use "main";

@media screen and (max-width: 500px) {
  body {
    font-size: 1.1em;
  }

  .navbar {
    padding: 0.5rem 5%;

    & .navigation {
      display: none;
      gap: 0;
    }
  }

  #home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 10% 5%;
    gap: 2rem;
    margin-bottom: 20%;

    & .container {
      width: 100%;

      & h2 {
        font-size: 52px;
      }

      & p {
        font-size: 1em;
        max-width: 100%;
      }
    }

    & .image {
      justify-content: center;
      width: 90%;
      max-width: 90%;

      &::after {
        display: none;
      }

      & img {
        width: inherit;
      }
    }
  }

  #attribute {
    padding: 10% 5%;

    & h2 {
      font-size: 48px;
      text-align: center;
      margin-bottom: 2rem;
    }

    & ul li {
      font-size: 1em;
    }
  }

  #content {
    padding: 15% 1rem;

    & h2 {
      font-size: 48px;
      margin-bottom: 4rem;
    }

    & .scroll-items {
      flex-direction: column;
      align-items: normal;
      gap: 4rem;

      & .item {
        width: 100%;
        height: 100%;
        max-height: 100%;

        & h3.mark {
          display: inline-flex;
          display: none;
          font-size: 32px;
          height: 100px;
          align-items: end;
        }

        & h4 {
          font-size: 30px;
          display: inline-flex;
          align-items: end;
          margin-bottom: 0;
        }

        & p {
          font-size: 16px;
        }
      }
    }
  }

  #about {
    padding: 20% 1rem;

    & .card {
      width: 100%;
      height: auto;

      & .desc {
        font-size: 14px;
      }
    }
  }

  #offer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: auto;
    padding-block: 20%;

    & .container {
      width: 100%;
    }

    & .intro {
      flex-direction: column;
      width: 100%;
      height: auto;

      & img {
        width: 250px;
        height: 100%;
      }

      & figcaption {
        display: inherit;
        flex-direction: inherit;
        align-items: inherit;
        text-align: center;

        & h2 {
          max-width: 100%;
        }

        & > p {
          max-width: 100%;
        }

        & .price {
          align-items: center;
          width: 100%;
          background-color: #0f5685;
          padding-block: 2rem;

          & .last-price,
          & .current-price {
            font-weight: 600;
            color: #ebe7dc;

            & sup {
              color: #ebe7dc;
            }
          }

          & .last-price {
            &::after {
              background-color: #ebe7dc;
            }
          }

          & .current-price {
            border-top: 1px solid #ebe7dc;
            color: #ffbd59;
            font-size: 80px;

            & sup:not(:first-child) {
              color: #ffbd59;
            }
          }
        }
      }
    }
    & .form {
      width: 100%;
      max-width: 100%;
      padding-left: 0;
      margin-top: 10%;
      padding-inline: 5%;

      & h3 {
        font-size: 48px;
        max-width: 100%;
      }

      & p {
        max-width: 100%;
      }

      & .payment-methods {
        width: 100%;
        justify-content: space-between;
        & li {
          & label {
            padding: 0;
            font-size: 1em;
            font-weight: 500;
            letter-spacing: 0.2px;

            transition: background-color 300ms;

            cursor: pointer;
          }
        }
      }

      & .input-area {
        width: 100%;
        & input {
          padding-inline: 0.4rem;
          font-size: 1em;

          &::placeholder {
            font-size: 0.8em;
          }
        }

        & label {
          font-size: 0.9em;
        }
      }

      & .grid-input {
        width: 100%;
      }
    }
  }

  footer {
    padding-top: 20%;

    .footer-help {
      margin-block: 2rem;

      & li a {
        font-size: 14px;
      }
    }

    & > p {
      font-size: 14px;
    }
  }
}

// sass --watch src\sass\global.scss dist\css\global.css
