@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-brands/css/uicons-brands.css");

$color-prg: #535353;
$color-title: #333333;
$color-js: #ffbd59;
$bg-btn: #0f5685;
$bg-secundary: #ebe7dc;

*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: "Poppins", sans-serif;
  color: $color-prg;
}

a,
label,
p,
li,
i {
  letter-spacing: -0.5px;
}

a,
i {
  text-decoration: none;
  transition: color 300ms;
}

body {
  background-color: #f4f4f4;
  font-size: 0.9em;
}

h2,
h3,
h4,
h5 {
  color: #3b3b3b;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
  letter-spacing: -1px;
}

h1,
h3.mark {
  font-family: "JetBrains Mono", serif !important;
}

h1 {
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
  color: #333333;
  & span {
    font-family: inherit;
    color: $color-js;
  }
}

ul {
  list-style-type: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 15%;
}

.navigation {
  display: flex;
  gap: 3rem;
  & li a {
    color: $color-title;
    font-weight: 500;
    &:hover {
      color: $color-js;
    }
  }
}

.btn-primary {
  border: 0;
  outline: 0;
  padding: 0.3rem 1rem;
  background-color: $bg-btn;
  color: #f4f4f4;
  border-radius: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
}

#home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 63px);
  padding-inline: 10%;

  & .container {
    width: 60%;

    & h2 {
      font-size: 80px;
    }
    & p {
      font-size: 18px;
      margin-block: 1rem;
      max-width: 50%;
    }
  }

  & .image {
    display: flex;
    justify-content: end;
    width: 400px;
    max-width: 40%;
    position: relative;
    background-color: red;

    &::after {
      content: "";
      position: absolute;
      top: -20px;
      right: -20px;
      z-index: -9;
      display: flex;
      width: 400px;
      height: 600px;
      border: 1px solid $bg-btn;
    }
    & img {
      width: 400px;
    }
  }
}

#attribute {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0;
  background-color: $bg-secundary;

  & h2 {
    font-size: 46px;
    margin-bottom: 2rem;
  }

  & ul li {
    font-weight: 400;
    font-size: 1.1em;
    color: $color-title;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.5rem 0;
  }
}

#content {
  padding: 10% 15%;

  & h2 {
    font-size: 46px;
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
  }

  & .scroll-items {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    & .item {
      display: flex;
      align-items: start;
      width: calc(50% - 2rem);
      height: 150px;
      max-height: 150px;

      & h3.mark {
        letter-spacing: -2.5px;
        font-weight: 600;
        font-size: 40px;
        color: $bg-btn;
      }

      & h4 {
        font-size: 20px;
        height: 44px;
        display: inline-flex;
        align-items: end;
        margin-bottom: 0.5rem;
      }
    }
  }
}

#about {
  display: grid;
  place-content: center;
  padding-block: 5%;
  border-top: 1px solid $color-prg;

  & .card {
    width: 400px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 2rem;
    gap: 1rem;

    & > img {
      max-width: 150px;
      border-radius: 50%;
      filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 4px 12px);
      border: 4px solid $color-js;
    }

    & p.mini-title {
      text-transform: uppercase;
      text-align: center;
      font-size: 12px;
    }

    & ul.list-skills {
      display: flex;
      gap: 0.5rem;

      & li {
        font-size: 12px;
        font-weight: 500;
        color: $color-js;
        background-color: rgba(255, 189, 89, 0.15);
        padding: 0.1rem 0.4rem;
        border-radius: 0.2rem;
      }
    }

    & .desc {
      text-align: center;
      padding-inline: 2rem;
    }

    & ul.social-list {
      display: flex;
      flex-wrap: nowrap;
      width: auto;
      padding-block: 0.5rem;

      & li:not(:last-child) {
        border-right: 1px solid #dbdbdb;
      }

      & li {
        padding-inline: 1rem;

        & a {
          font-size: 18px;

          &:hover i {
            color: #ffbd59;
          }

          & i {
            display: flex;
          }
        }
      }
    }
  }
}

#offer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $bg-secundary;

  & .container {
    width: 40%;
  }

  & .intro {
    display: flex;
    align-items: center;
    width: 100%;
    height: 500px;

    & img {
      width: 350px;
      height: 100%;
    }

    & figcaption {
      & h2 {
        font-size: 36px;
        max-width: 50%;
        line-height: 1.1;
        margin-bottom: 0.4rem;
      }

      & > p {
        max-width: 50%;
      }

      & .price {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 3rem;

        & .last-price,
        & .current-price {
          font-weight: bold;
          display: inline-flex;
          align-items: start;
          line-height: 1;
          color: $color-title;

          & sup {
            font-size: 14px !important;
            color: $color-title;
          }

          & sup:first-child {
            margin-right: 0.4rem;
          }
        }

        & .last-price {
          padding-bottom: 0.2rem;
          font-size: 36px;
          position: relative;

          &::after {
            content: "";
            width: 110%;
            height: 2px;
            background-color: $color-title;
            position: absolute;
            top: 40%;
            left: 5%;
            transform: rotate(160deg);
          }
        }

        & .current-price {
          padding-top: 0.4rem;
          border-top: 1px solid $color-prg;
          font-size: 52px;
          color: $bg-btn;

          & sup:not(:first-child) {
            color: $bg-btn;
          }
        }
      }
    }
  }

  & .form {
    width: 30%;
    padding-left: 1rem;
    border-left: 1px solid $color-prg;

    & h3 {
      font-size: 36px;
      max-width: 80%;
      line-height: 1.1;
    }

    & p {
      max-width: 60%;
      margin-block: 1rem;
    }

    & .payment-methods {
      display: flex;
      align-items: center;
      width: max-content;
      border: 1px solid $color-prg;
      border-radius: 0.4rem;

      & li {
        display: inherit;

        &:not(:last-child) {
          border-right: 1px solid $color-prg;
        }

        & input {
          appearance: none;

          &:checked + label {
            color: #0f5685;
            background-color: rgba(15, 86, 133, 0.2);
          }
        }

        & label {
          padding: 0.3rem 1rem;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.2px;

          cursor: pointer;
        }
      }
    }

    & .input-area {
      display: flex;
      flex-direction: column;
      align-items: start;
      margin-top: 0.5rem;

      & input {
        width: 60%;
        padding: 0.2rem 1rem;
        background-color: #f4f4f4;
        border: 1px solid $color-prg;
        border-radius: 0.2rem;
        outline: 3px solid transparent;
        transition: outline-color 300ms;

        &[name="dateVenc"] {
          width: 20%;
        }
        &[name="nCodSeg"] {
          width: 20%;
        }

        &:focus {
          outline-color: rgba(15, 86, 133, 0.3);
        }
      }
    }
  }
}

// sass --watch src\sass\main.scss dist\css\main.css
