@use "default";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 15%;
  & .navigation {
    display: flex;
    gap: 3rem;
    & li a {
      color: default.$color-title;
      font-weight: 500;
      &:hover {
        color: default.$color-js;
      }
    }
  }
}

#home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 63px);
  padding-inline: 10%;

  & .container {
    width: 60%;

    & h2 {
      font-size: 80px;
    }
    & p {
      font-size: 18px;
      margin-block: 1rem;
      max-width: 50%;
    }
  }

  & .image {
    display: flex;
    justify-content: end;
    width: 400px;
    max-width: 40%;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -20px;
      right: -20px;
      z-index: -9;
      display: flex;
      width: 400px;
      height: 600px;
      border: 1px solid default.$bg-btn;
    }
    & img {
      width: 400px;
    }
  }
}

#attribute {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0;
  background-color: default.$bg-secundary;

  & h2 {
    font-size: 46px;
    margin-bottom: 2rem;
  }

  & ul li {
    font-weight: 400;
    font-size: 18px;
    color: default.$color-title;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.5rem 0;
  }
}

#content {
  padding: 10% 15%;

  & h2 {
    font-size: 46px;
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
  }

  & .scroll-items {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    & .item {
      display: flex;
      align-items: start;
      width: calc(50% - 2rem);
      height: 150px;
      max-height: 150px;

      & h3.mark {
        letter-spacing: -2.5px;
        font-weight: 600;
        font-size: 40px;
        color: default.$bg-btn;
      }

      & h4 {
        font-size: 20px;
        height: 44px;
        display: inline-flex;
        align-items: end;
        margin-bottom: 0.5rem;
      }
    }
  }
}

#about {
  display: grid;
  place-content: center;
  padding-block: 5%;
  border-top: 1px solid default.$color-prg;

  & .card {
    width: 400px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 2rem;
    gap: 1rem;

    & > img {
      max-width: 150px;
      border-radius: 50%;
      filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 4px 12px);
      border: 4px solid default.$color-js;
    }

    & p.mini-title {
      text-transform: uppercase;
      text-align: center;
      font-size: 12px;
    }

    & ul.list-skills {
      display: flex;
      gap: 0.5rem;

      & li {
        font-size: 12px;
        font-weight: 500;
        color: default.$color-js;
        background-color: rgba(255, 189, 89, 0.15);
        padding: 0.1rem 0.4rem;
        border-radius: 0.2rem;
      }
    }

    & .desc {
      text-align: center;
      padding-inline: 2rem;
    }

    & ul.social-list {
      display: flex;
      flex-wrap: nowrap;
      width: auto;
      padding-block: 0.5rem;

      & li:not(:last-child) {
        border-right: 1px solid #dbdbdb;
      }

      & li {
        padding-inline: 1rem;

        & a {
          font-size: 18px;

          &:hover i {
            color: #ffbd59;
          }

          & i {
            display: flex;
          }
        }
      }
    }
  }
}

#offer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: default.$bg-secundary;

  & .container {
    width: 40%;
  }

  & .intro {
    display: flex;
    align-items: center;
    width: 100%;
    height: 500px;

    & img {
      width: 350px;
      height: 100%;
    }

    & figcaption {
      & h2 {
        font-size: 36px;
        max-width: 50%;
        line-height: 1.1;
        margin-bottom: 0.4rem;
      }

      & > p {
        max-width: 50%;
      }

      & .price {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 3rem;

        & .last-price,
        & .current-price {
          font-weight: bold;
          display: inline-flex;
          align-items: start;
          line-height: 1;
          color: default.$color-title;

          & sup {
            font-size: 14px !important;
            color: default.$color-title;
          }

          & sup:first-child {
            margin-right: 0.4rem;
          }
        }

        & .last-price {
          padding-bottom: 0.2rem;
          font-size: 40px;
          position: relative;

          &::after {
            content: "";
            width: 110%;
            height: 2px;
            background-color: default.$color-title;
            position: absolute;
            top: 40%;
            left: 5%;
            transform: rotate(160deg);
          }
        }

        & .current-price {
          padding-top: 0.4rem;
          border-top: 1px solid default.$color-prg;
          font-size: 58px;
          color: default.$bg-btn;

          & sup:not(:first-child) {
            color: default.$bg-btn;
          }
        }
      }
    }
  }

  & .form {
    width: 30%;
    max-width: 30%;
    padding-left: 1rem;
    border-left: 1px solid default.$color-prg;

    & h3 {
      font-size: 36px;
      max-width: 80%;
      line-height: 1.1;
    }

    & p {
      max-width: 60%;
      margin-block: 1rem;
    }

    & .payment-methods {
      display: flex;
      align-items: center;
      width: max-content;
      border-radius: 0.4rem;

      & li {
        display: inherit;
        padding: .2rem .6rem;
        border: 1px solid default.$color-prg;

        & input {
          appearance: none;

          &:checked + label {
            color: #0f5685;
            background-color: rgba(15, 86, 133, 0.2);
          }
        }

        & label {
          display: flex;
          padding: 0.2rem 1rem;
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 0.2px;

          transition: background-color 300ms;

          cursor: pointer;
        }
      }
    }

    & .input-area {
      margin-top: 0.5rem;
      width: 60%;

      & input {
        width: 100%;
        padding: 0.2rem 1rem;
        background-color: #f4f4f4;
        border: 1px solid default.$color-prg;
        border-radius: 0.2rem;
        outline: 3px solid transparent;
        transition: outline-color 300ms;

        &:focus {
          outline-color: rgba(15, 86, 133, 0.3);
        }
      }

      & label {
        font-size: 0.9em;
      }
    }

    & .grid-input {
      width: 60%;
      display: flex;
      flex-wrap: wrap;
      gap: 0 1rem;

      & .input-width-full {
        width: 100%;
      }
      & .input-width {
        width: calc(50% - 0.5rem) !important;
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 5%;
  border-top: 1px solid default.$color-prg;

  & .footer-social {
    display: flex;
    gap: 1rem;
    padding-block: 1rem;

    & li a {
      display: grid;
      place-content: center;
      width: 2rem;
      height: 2rem;
      font-size: 1.2em;
      border: 1px solid default.$bg-secundary;
      border-radius: 50%;
      outline: 4px solid transparent;

      &:hover {
        outline-color: rgba(255, 189, 89, 0.2);
      }

      &:hover i {
        color: default.$color-js;
      }

      & i {
        display: flex;
      }
    }
  }

  .footer-help {
    margin-block: 2rem;

    & h3 {
      font-size: 1.2em;
      color: default.$bg-btn;
      font-weight: 600;
    }

    & li a {
      font-size: 0.9em;

      &:hover {
        color: #0f5685;
        text-decoration: underline;
      }
    }
  }

  & > p {
    width: 100%;
    padding-block: 1rem;
    color: default.$bg-secundary;
    background-color: default.$bg-btn;
    font-size: 0.9em;
    font-weight: 300;

    & a {
      color: #ffbd59;
    }
  }
}

// sass --watch src\sass\main.scss dist\css\main.css
